RewriteEngine on
Options +FollowSymLinks

# access file directly, without running prephp
#RewriteRule ^(.*\.php[345]?)@prephp!direct$ $1 [QSA,L]

# prephp gets the variables
# prefixed with prephp_
# path: relative to this .htaccess
RewriteCond %{REQUEST_URI} !prephp/prephp\.php$
RewriteRule ^(.*\.php[345]?)$ prephp/prephp.php?prephp_path=$1 [QSA,L]